html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: #F0EFE2 url(background.png) repeat;
  color: #000;}
.mapboxgl-popup {
 max-height: 400px;
 max-width: 400px;
 font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.mapboxgl-popup-content {
 overflow-y: scroll;
}
p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 { 
  font: italic 175% 'Apple Chancery', arial, sans-serif;
  color: #000;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  text-align: center;
}

h2
{ font: normal 175% 'century gothic', arial, sans-serif;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;}

h5, h6
{ font: italic 95% arial, sans-serif;
  padding: 0 0 15px 0;}


#menu {
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 10px;
    border-radius: 3px;
    width: auto;
    height: auto;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
    display: none;
}

/*
#d_menu a {
    font-size: 13px;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: left;
}
*/
#menu a {
    border-radius: 3px;
    font-size: 13px;
    display: inherit;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: left;
}
#d_menu a {
    border-radius: 3px;
    font-size: 13px;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: left;
}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

#map 
{ 
    position:absolute; 
    top:0; 
    bottom:0; 
    width:100%;
    height: 100%;
    transition: all 0.3s; 
}

#cl_color_1, #color_1 {
    background-color: #800000;
    border-color: #000;
    color: #fff;
}

#cl_color_1:hover, #color_1:hover {
    background-color: #d30808;
}

#cl_color_2, #color_2 {
    background-color: #1e87ea;
}

#cl_color_2:hover, #color_2:hover {
    background-color: #0859a5;
}

#cl_color_3, #color_3 {
    background-color: #f44e30;
}

#cl_color_3:hover, #color_3:hover {
    background-color: #ad3722;
}

#cl_color_4, #color_4 {
    background-color: #911eb4;
    border-color: #000;
    color: #fff;
}

#cl_color_4:hover, #color_4:hover {
    background-color: #67167f;
}

#cl_color_5, #color_5 {
    background-color: #e6194B;
    border-color: #000;
    color: #fff;
}

#cl_color_5:hover, #color_5:hover {
    background-color: #bc143b;
}

#cl_color_6, #color_6 {
    background-color: #ffff21;
}

#cl_color_6:hover, #color_6:hover {
    background-color: #bfbf1a;
}

#cl_color_7, #color_7 {
    background-color: #5bce1c;
}

#cl_color_7:hover, #color_7:hover {
    background-color: #49a517;
}

#cl_color_8, #color_8 {
    background-color: #000075;
    border-color: #000;
    color: #fff;
}

#cl_color_8:hover, #color_8:hover {
    background-color: #2121ff;
}

#color_1.inactive, #color_2.inactive, #color_3.inactive, #color_4.inactive, #color_5.inactive, #color_6.inactive, #color_7.inactive, #color_8.inactive {
    background-color: #fff;
    color: #000;
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #ce8665;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    border-radius: 15px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#color_list, #play_list {
    display: inline-block;
    
}

#color_list {
    text-align: right;
    list-style: none;
    display: none;
}

#submit {
    display: block;
    text-align: center;
    height: 25px;
    width: 50px;
    margin-left: 50%;
}

#c_container, #play_list {
    display: inline-block;
    margin-left: 20%;
}

#c_container {
    float: right;
    margin-right: 25%;
    margin-left: 0em;
}

#play_list {
    list-style: none;
    height: 300px;
    overflow-y: scroll;
}

li.play{
    background-color: #fff;
}

li.play, li.color {
    border-style: solid;
    border-width: thin;
    font-size: 16px;
    display: block;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
}

ul {
    font-size: 20px;
}

.mapboxgl-popup-content {
    overflow-y: auto;
    border-radius: 6px;
}

#lists+button {
    display: inline-block;
}
